kreftregisteret-backend/src/main/resources/Prostatapakke/KliniskProstataStraalebehandling_v4_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by KRG (KREFTREGISTERET) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.kreftregisteret.no/kremt/KliniskProstataStraale/v4_0" xmlns:altova="http://www.altova.com/xml-schema-extensions" targetNamespace="http://www.kreftregisteret.no/kremt/KliniskProstataStraale/v4_0" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="KliniskProstataStraale">
		<xs:annotation>
			<xs:documentation>Rotelement</xs:documentation>
		</xs:annotation>	
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ns1:Meldingsinformasjon"/>
				<xs:element ref="ns1:Navigering" minOccurs="1"/>
				<xs:element ref="ns1:StdInfo" minOccurs="1"/>
				<xs:element ref="ns1:Behandling" minOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Meldingsinformasjon">
		<xs:annotation>
			<xs:documentation>Inneholder admistrative data for KRG</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Skjema" default="KliniskProstataStraale">
					<xs:simpleType>
						<xs:restriction base="xs:string"/>
					</xs:simpleType>
				</xs:element>
				<xs:element name="VersjonsNr" type="xs:string" default="4.0" minOccurs="1"/>
				<xs:element name="VersjonsNrOriginal" type="xs:string"/>
				<xs:element name="KRG_GUID" type="xs:string" default=""/>
				<xs:element name="VersjonIP" type="xs:integer" default="0" minOccurs="1"/>
				<xs:element name="VersjonBT" type="xs:integer" default="0"/>
				<xs:element name="TidspunktSubmit">
					<xs:simpleType>
						<xs:union memberTypes="xs:dateTime">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value=""/>
								</xs:restriction>
							</xs:simpleType>
						</xs:union>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Brukernavn" type="xs:string" default=""/>
				<xs:element name="Filnavn" type="xs:string" default="" minOccurs="1"/>
				<xs:element name="VersjonInternEkstern" default="1">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Navigering">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Meldingstittel" type="xs:string" minOccurs="1"/>
				<xs:element name="MeldingsNr">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="(500)?"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StdInfo">
		<xs:annotation>
			<xs:documentation>Inneholder elementer som er felles for alle meldingstyper</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PasientInstitusjon" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FodselsnummerKRG" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FodselsnummerHF" minOccurs="1">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="((0[1-9]|[1-2]\d|3[0-1])(0[1-9]|1[0-2])\d{7})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FodselnummerUtland">
								<xs:simpleType>
									<xs:restriction base="xs:boolean">
										<xs:pattern value="true|false"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="FodselsnummerUtlandSpesifiser" type="xs:string"/>
							<xs:element name="NavnPasient" type="xs:string" minOccurs="1"/>
							<xs:element name="Sykehuskode" type="xs:string" default=""/>
							<xs:element name="SykehusnavnHF" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="1305"/>
										<xs:enumeration value="1801"/>
										<xs:enumeration value="0305"/>
										<xs:enumeration value="0320"/>
										<xs:enumeration value="1107"/>
										<xs:enumeration value="1608"/>
										<xs:enumeration value="0501"/>
										<xs:enumeration value="1005"/>
										<xs:enumeration value="1903"/>
										<xs:enumeration value="1504"/>
										<xs:enumeration value="0808"/>
										<xs:enumeration value="0601"/>
										<xs:enumeration value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SykehusnavnHFSpesifiser" type="xs:string" default="" minOccurs="1"/>
							<xs:element name="SykehusnavnKRGSpesifiser" type="xs:string" default=""/>
							<xs:element name="Avdelingskode" type="xs:string" default=""/>
							<xs:element name="Avdelingsnavn" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="14"/>
										<xs:enumeration value="01"/>
										<xs:enumeration value="47"/>
										<xs:enumeration value="20"/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="2"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="AvdelingsnavnHFSpesifiser" type="xs:string" default="" minOccurs="1"/>
							<xs:element name="AvdelingsnavnKRGSpesifiser" type="xs:string" default=""/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Kommentarfelt" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Kommentar" type="xs:string" default="" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FilmBilde" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="FilmNr" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(\d{4})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BildeNr" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(\d{4})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Melder" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MeldersNavn" type="xs:string" default="" minOccurs="1"/>
							<xs:element name="MeldeDato">
								<xs:simpleType>
									<xs:union memberTypes="xs:date">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
							</xs:element>
							<xs:element name="MelderID" type="xs:string" default=""/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Behandling">
		<xs:annotation>
			<xs:documentation>Inneholder oppslysninger strælebehandling</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PrimaerEllerPostop" default="">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value=""/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="PreStraaleInformasjon">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AktivMonitorering" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RevurderingSykdomsutrbredelse" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PreStraalePSAVerdi" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([1-9]\d{0,5}|\d,\d{1,2}|[1-9]\d{1,5},\d{1,2})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="PreStraalePSAVerdiUkjent" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EndokrinBehandling" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="0"/>
										<xs:enumeration value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DatoOppstartEndokrinBeh">
								<xs:simpleType>
									<xs:union memberTypes="xs:date">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DatoOppstartEndokrinBehUkjent" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VarighetEndokrinBehandling" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="([1-9]\d{0,2})?"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VarighetEndokrinBehUkjent" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="99"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Sykdomsutbredelse">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tumor">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PalpatoriskTumorHoyre" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
													<xs:enumeration value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PalpatoriskTumorVenstre" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
													<xs:enumeration value="6"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SamletPalpatoriskTumor" type="xs:string" default=""/>
										<xs:element name="MRDiagnostikk" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="0"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DatoMRDiagnostikk">
											<xs:simpleType>
												<xs:union memberTypes="xs:date">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:pattern value=""/>
														</xs:restriction>
													</xs:simpleType>
												</xs:union>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DatoMRDiagnostikkUkjent" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="99"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PIRADSHoyre" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
													<xs:enumeration value="99"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PIRADSVenstre" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
													<xs:enumeration value="99"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MRBasertKliniskTHoyre" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="MRBasertKliniskTVenstre" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="SamletMRBasertKliniskT" type="xs:string" default=""/>
										<xs:element name="TotalVurderingKliniskT" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="X"/>
													<xs:enumeration value="0"/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="1a"/>
													<xs:enumeration value="1b"/>
													<xs:enumeration value="1c"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="2a"/>
													<xs:enumeration value="2b"/>
													<xs:enumeration value="2c"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="3a"/>
													<xs:enumeration value="3b"/>
													<xs:enumeration value="4"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="KliniskVurdertAv" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RegionaleLK">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RegionaleLKPaavist" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="0"/>
													<xs:enumeration value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Fjernmetastaser">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="FjernmetPaavist" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="0"/>
													<xs:enumeration value="2"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="LokalisasjonFjernmet">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="FjerneLKmet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Skjelettmet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AnnetFjernmet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AnnetFjernmetSpesifiser" type="xs:string" default=""/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="UtredningsmetodeMetastaser">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="UtredningsmetodeLK" default="">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value=""/>
													<xs:enumeration value="1"/>
													<xs:enumeration value="2"/>
													<xs:enumeration value="3"/>
													<xs:enumeration value="4"/>
													<xs:enumeration value="5"/>
													<xs:enumeration value="99"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AnnenDiagnostikkLKSpesifiser" type="xs:string" default=""/>
										<xs:element name="UtredningsmetodeFjernmet">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SkjelettscintigrafiMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RtgThoraxMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="RtgBekkenMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CTMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MRMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="PETMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="CytologiMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BiopsiMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AnnenDiagnostikkMet">
														<xs:simpleType>
															<xs:restriction base="xs:boolean">
																<xs:pattern value="true|false"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="AnnenDiagnostikkMetSpesifiser" type="xs:string" default=""/>
													<xs:element name="UtredningsmetodeFjernmetUkjent" default="">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value=""/>
																<xs:enumeration value="99"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Straalebehandling">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EksternStraalebehandling" default="">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value=""/>
										<xs:enumeration value="1"/>
										<xs:enumeration value="0"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="DatoOppstartStraale">
								<xs:simpleType>
									<xs:union memberTypes="xs:date">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:pattern value=""/>
											</xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
							</xs:element>
							<xs:sequence>
								<xs:element name="Prostata">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ProstataFRDoseGY" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([1-9]\d{0,1}|\d{0,2},\d{1,2})?"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ProstataFRDoseUkjent" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ProstataAntFR" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([1-9]\d{0,1})?"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="ProstataAntFRUkjent" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="LKbekken">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="LKBekkenStraalebehandling" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="1"/>
														<xs:enumeration value="0"/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="HoydoserateBrachyterapi">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="HDBrachyterapi" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="1"/>
														<xs:enumeration value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="HDBrachyterapiFRDoseGY" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([1-9]\d{0,1}|\d{0,2},\d{1,2})?"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="HDBrachyterapiFRDoseUkjent" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="HDBrachyterapiAntFR">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([1-9])?"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="HDBrachyterapiAntFRUkjent" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="LavdoserateBrachyterapi">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="LDBrachyterapi" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="1"/>
														<xs:enumeration value="0"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="Behandlingssted" type="xs:string" default=""/>
											<xs:element name="BehandlingsstedUkjent" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="LDBrachyterapiFRDoseGY" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:pattern value="([1-9]\d{0,2}|\d{0,3},\d{1,2})?"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
											<xs:element name="LDBrachyterapiFRDoseUkjent" default="">
												<xs:simpleType>
													<xs:restriction base="xs:string">
														<xs:enumeration value=""/>
														<xs:enumeration value="99"/>
													</xs:restriction>
												</xs:simpleType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
